$full-width: 100%;
$font-size: 1.5em;
$indent: 10px;
$mobile-min: 320px;
$mobile-max: 640px;
$grey: #CCC;

@mixin wrap-grey($bg: $grey, $top: solid, $right: solid, $bottom: solid,  $left: solid ) {
  background: $bg;
  border: 1px solid;
  border-style: $top $right $bottom $left;
}