.hide-for-mobile, .l-aside, .top-nav #menu + ul {
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .hide-for-mobile, .l-aside, .top-nav #menu + ul {
      display: none; } }

.show-for-mobile, .top-nav .menu-button {
  display: none; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .show-for-mobile, .top-nav .menu-button {
      display: block; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

body {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px; }
  body p {
    margin: 10px 0;
    line-height: 1.5em;
    vertical-align: top; }
  body h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px; }
  body img {
    width: 100%; }
  body a {
    text-decoration: none;
    color: #000; }

.l-content {
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding-right: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .l-content {
      width: 100%; } }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .l-context {
    display: flex;
    flex-direction: column-reverse; } }

.l-aside {
  width: 25%;
  box-sizing: border-box;
  float: left; }

.l-footer {
  background: #CCC;
  border: 1px solid;
  border-style: solid solid solid solid;
  height: 60px;
  background: #CCC;
  border: 1px solid;
  border-bottom: none;
  width: 100%;
  box-sizing: border-box;
  float: left; }

header .logo img {
  width: 60px;
  float: left;
  margin: 10px 0; }

header .logo h1 {
  font-size: 3em;
  vertical-align: middle;
  line-height: 1.5em; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    header .logo h1 {
      text-align: center; } }

header .author {
  line-height: 1em; }

.top-nav ul {
  background: #CCC;
  border: 1px solid;
  border-style: solid solid solid solid;
  width: 100%;
  margin: 20px 0;
  font-size: 1.5em;
  overflow: hidden; }
  .top-nav ul li {
    width: 16.66667%;
    box-sizing: border-box;
    float: left;
    text-align: center; }
    @media only screen and (min-width: 320px) and (max-width: 640px) {
      .top-nav ul li {
        width: 100%;
        text-align: center !important;
        border-bottom: 1px solid; }
        .top-nav ul li:last-child {
          border-bottom: none; }
        .top-nav ul li a {
          display: block; } }
    .top-nav ul li a {
      display: inline-block;
      padding: 5px 10px; }
    .top-nav ul li:first-child {
      text-align: left; }
    .top-nav ul li:last-child {
      text-align: right; }

.top-nav label[for="menu"] {
  margin: 20px auto;
  display: block;
  text-align: center; }
  .top-nav label[for="menu"] .menu-button {
    border: 1px solid;
    padding: 10px;
    font-size: 1.5em; }

.top-nav #menu {
  position: absolute;
  top: -10000px;
  left: -10000px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .top-nav #menu:checked + ul {
      display: block; } }

.more-links {
  float: right;
  margin: 10px 5px; }
  .more-links h2 {
    font-size: 1.5em; }
  .more-links ul {
    margin-left: 20px; }
    .more-links ul li {
      list-style: disc;
      line-height: 1.5em; }

.social-link {
  position: absolute;
  right: 20px;
  top: 40px; }
  @media only screen and (min-width: 320px) and (max-width: 640px) {
    .social-link {
      position: fixed;
      top: auto;
      bottom: 0;
      background: #CCC;
      border: 1px solid;
      border-style: solid solid none solid;
      right: 20px;
      left: 20px;
      text-align: center;
      padding: 10px; } }
  .social-link a {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("../images/icons-social.png") 0 0 no-repeat;
    background-size: 200px; }
    .social-link a.twitter {
      background-position-x: -50px; }
    .social-link a.google {
      background-position-x: -100px; }
