header {
  .logo {
    img {
      width: $indent*6;
      float: left;
      margin: $indent 0;
    }

    h1 {
      font-size: $font-size * 2;
      vertical-align: middle;
      line-height: $font-size;
      @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max){
        text-align: center;
      }
    }
  }

  .author {
    line-height: $font-size * 2/3;
  }
}