.more-links {
  float: right;
  margin: $indent $indent / 2;

  h2 {
    font-size: $font-size;
  }

  ul {
    margin-left: $indent * 2;
    li {
      list-style: disc;
      line-height: $font-size;
    }
  }

}