.top-nav {
  ul {
    @include  wrap-grey();
    width: $full-width;
    margin: ($indent * 2) 0;
    font-size: $font-size;
    overflow: hidden;

    li {
      width: $full-width / 6;
      box-sizing: border-box;
      float: left;
      text-align: center;
      @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max){
        width: $full-width;
        text-align: center!important;
        border-bottom: 1px solid;

        &:last-child {
          border-bottom: none;
        }
        a {
          display: block;
        }
      }

      a {
        display: inline-block;
        padding: $indent/2 $indent;
      }
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  label[for="menu"]{
    margin: $indent * 2 auto;
    display: block;
    text-align: center;

    .menu-button {
      border: 1px solid;
      padding: $indent;
      font-size: $font-size;
    }
  }

  .menu-button {
    @extend .show-for-mobile;
  }

  #menu {
    position: absolute;
    top: -10000px;
    left: -10000px;

    + ul {
     @extend .hide-for-mobile
    }

    &:checked + ul {
      @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max){
        display: block;
      }
    }
  }

}