@import "reset";

body {
  min-width: 32 * $indent;
  max-width: 96 * $indent;
  margin: 0 auto;
  padding: 20px;
  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max){

  }

  p {
    margin: $indent 0;
    line-height: $font-size;
    vertical-align: top;
  }
  h2 {
    font-size: $font-size;
    font-weight: bold;
    margin-bottom: $indent;
  }

  img {
    width: $full-width;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

