<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Task-1 Flicker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="container" ng-controller="flickerCtrl">
    <div class="row" id="searchForm">
        <div class="col-sm-6 col-xs-6">
            <form ng-submit="search()">
                <div class="form-group text-center">
                    <label for="search">
                        <h3>What is your favorite image?</h3>
                    </label>
                    <input ng-model="query"
                           type="text"
                           id="search"
                           class="form-control"/>
                </div>
                <div class="form-group text-center">

                </div>
            </form>
        </div>
    </div>
    <div id="results" class="row">
        <div class="col-sm-6 col-xs-6">
            <div ng-show="message">{{message}}</div>
            <a href="javascript:void(0);"
               class="col-sm-4 col-xs-4"
               ng-repeat="photo in photos">
                <img ng-click="togglePhoto(this)"
                     ng-class="{'selected' : favoritePhotos[this.photo.id]}"
                     ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg"
                     alt="{{photo.title}}"
                     class="img-responsive">
            </a>
        </div>
    </div>
</div>
<script src="bundle.js"></script>
</body>
</html>