@mixin mobile-display($mob-display: none, $desk-device: block) {
  display: $desk-device;
  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    display: $mob-display;
  }
}

.hide-for-mobile {
  @include mobile-display();
}

.show-for-mobile {
  @include mobile-display($mob-display: block, $desk-device: none);
}