.l-content {
  width: $full-width * 3 / 4;
  box-sizing: border-box;
  float: left;
  padding-right: $indent * 2;

  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max){
    width: $full-width;
  }
}

.l-context {
  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.l-aside {
  width: $full-width * 1 / 4;
  box-sizing: border-box;
  float: left;

  @extend .hide-for-mobile
}

.l-footer {
  @include  wrap-grey();
  height: $indent * 6;
  background: #CCC;
  border: 1px solid;
  border-bottom: none;
  width: $full-width;
  box-sizing: border-box;
  float: left;
}